:root {
  --color-primary: #444444;
  --color-secondary: #666666;
  --color-white: #ffffff;
}

.center-image {
  background-size: cover;
  background-position: center;
}

.gallery-img {
  height: 250px;
}

#logo {
  height: 60px;
}

#header-nav a{
  color: var(--color-primary);
}

#header-nav a:hover{
  color: var(--color-secondary);
}

#hero {
  background-image: url(../images/g_1.jpg);
  height: 400px;
}

#hero-info {
  left: 25px;
  bottom: 25px;
}

#img2{
  background-image: url(../images/g_2.jpg);
}

#img3{
  background-image: url(../images/g_3.jpg);
}

#img4{
  background-image: url(../images/g_4.jpg);
}

#img5{
  background-image: url(../images/g_5.jpg);
}

#img6{
  background-image: url(../images/g_6.jpg);
}
