:root {
  --color-primary: #444444;
  --color-secondary: #666666;
  --color-white: #ffffff;
}

.center-image {
  /* não encontrei na doc do bootstrap */
  background-size: cover;
  background-position: center;
}

#logo {
  height: 60px;
}

#header-nav a{
  color: var(--color-primary);
}

#header-nav a:hover{
  color: var(--color-secondary);
}

#hero {
  background-image: url(../images/g_1.jpg);
  height: 400px;
}

#hero-info {
  left: 25px;
  bottom: 25px;
}
